p{
	margin: 5px 0;	
	font-size: 20px;
	color: #fff;
}

.menu{
	position: relative;
	text-align: center;
	color: #a2a2a2;
	padding: 15% 0;
}

.menu h2{
	color: #fff;
	font-size:30px;
	margin-bottom: 4px;
}

.bg-comunicacion{
	background-color: #37BB96;
	background-size: cover;
	background-position: center;
	padding: 30% 0 !important;
}


.bg-estrategica{
	background-color: #333E50;
	background-size: cover;
	background-position: center;
	padding: 30% 0 !important;
}

.bg-diseno{
	background-color: #37BB96;
	background-size: cover;
	background-position: center;
	padding: 30% 0 !important;
}


p{
	margin: 5px 0;	
}

.menu{
	position: relative;
	text-align: center;
	color: #a2a2a2;
	padding: 15% 0;
}

.menu h2{
	color: #fff;
	font-size:30px;
	text-align: center; 
	margin-bottom: 4px;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	background-color: rgba(0,0,0,0.50);
}

.texto{
	position:absolute;
	width: 100%;
	height: 100%;
	top:0;
	display:grid;
}

.img-fluid{
	max-width: 100%;
}

.list-menu img{
	width: 100px;
}

.hero-busqueda{}

.hero-ofertantes{
	background-color: #37BB96;
	background-position: center;
	background-size: cover;
	padding: 10% 0;
	text-align:center;
	position:relative;
}

.hero-ofertantes h4{
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	margin-bottom:0;
}

.list-menu{
	margin-top:0 !important;
	color: #c7c7c7;
	font-size: 14px !important;
}

.list-menu .item-header{
	color: #838383;
	font-weight: 600 !important;
	font-size: 20px !important;
	margin-bottom: 2px;
}

.list-menu .item-footer{
	color: #1aa575 !important;
	font-weight: 400 !important;
	margin-bottom: 2px;
}


.overlay-drinks{
	background-color: rgba(198, 180, 150,0.95);
}

.card {
	background-color: #37BB96;
}

.card-hero{
	background-color: #fff;
	padding: 40px;
	margin-top: 40%;
}

.card-header{
	color: #fff !important;
	font-size: 18px !important;
	margin:0 !important;
}

.card-content{
	text-align: center;
}

.card-content img{
	width: 100px;
	margin: 0 auto;
}

.card-footer{
    color: #fff !important;
    font-weight: 400 !important;
}

.navbar,
.toolbar{
	background-color: #333E50!important;
}

.card-content .material-icons{
	font-size: 50px;
	color: #fff;
}

.img-center{
	margin: 20px auto;
	display: block
}
.titulo{
	font-size: 16px;
	color: #5C5C5E !important;
	font-weight: 600;
}

.button{
	margin-bottom: 5px !important;
	text-transform: inherit !important;
}
.btn-verde{
	background-color: #37BB96 !important;
	color: #fff !important;
	display: block !important;
	text-align: center;
	width: 100%;
	border-radius: 0 !important;
}
.btn-azul{
	background-color: #333E50 !important;
	color: #fff !important;
	display: block !important;
	text-align: center;
	width: 100%;
	border-radius: 0 !important;
}

.trabajosr{
	font-size: 16px;
	color: #000;
	font-weight: 600;
}
.popup-confirm{
	color: #37BB96;
	text-align: center;
}
.icon-done{
	width: 150px;
	height: 150px;
	line-height: 150px;
	border-radius: 100%;
	background-color: #fff;
	color: #37BB96;
	text-align: center;
	margin: auto;
	display: block;
}
.icon-done i{
	font-size: 60px;
}












